DemoApi.TranscryptApi/Service References/TranscryptApiService/TranscryptApi7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.130.149/tcapi-rc/TranscryptApi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.130.149/tcapi-rc/TranscryptApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" />
  <xs:import schemaLocation="http://192.168.130.149/tcapi-rc/TranscryptApi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" />
  <xs:element name="GetNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="filter" nillable="true" type="q2:Notification.Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetNotificationsResult" nillable="true" type="q3:OperationResultOfArrayOfNotificationYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetViewedNotificationState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="notificationId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetViewedNotificationStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SetViewedNotificationStateResult" nillable="true" type="q6:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendExchangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q7:guid" />
        <xs:element minOccurs="0" name="requestReceiverId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendExchangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SendExchangeRequestResult" nillable="true" type="q8:OperationResultOfTranscryptContact.StateCodeYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="filter" nillable="true" type="q10:TranscryptContact.Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetContactListResult" nillable="true" type="q11:OperationResultOfArrayOfTranscryptContactYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptExchangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q12:guid" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptExchangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="AcceptExchangeRequestResult" nillable="true" type="q13:OperationResultOfTranscryptContact.StateCodeYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectExchangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q14:guid" />
        <xs:element minOccurs="0" name="contactId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectExchangeRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="RejectExchangeRequestResult" nillable="true" type="q15:OperationResultOfTranscryptContact.StateCodeYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="LoginToPasswordResult" nillable="true" type="q16:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomForLogin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomForLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetRandomForLoginResult" nillable="true" type="q17:OperationResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToCert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signedRandom" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToCertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="LoginToCertResult" nillable="true" type="q18:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToPasswordWithIntegrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signedByIntegrator" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToPasswordWithIntegratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="LoginToPasswordWithIntegratorResult" nillable="true" type="q19:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToCertWithIntegrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signedByUser" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="signedByIntegrator" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginToCertWithIntegratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="LoginToCertWithIntegratorResult" nillable="true" type="q20:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="LogoutResult" nillable="true" type="q22:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetSessionCertificateResult" nillable="true" type="q24:OperationResultOfCertificateInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterByCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signedSecret" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterByCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="RegisterByCertificateResult" nillable="true" type="q25:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterByCertificateAndKpp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="kpp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterByCertificateAndKppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="RegisterByCertificateAndKppResult" nillable="true" type="q26:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q28:OperationResultOfEmployeeYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q29:guid" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="employee" nillable="true" type="q30:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SaveEmployeeResult" nillable="true" type="q31:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q32:guid" />
        <xs:element minOccurs="0" name="activeOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetCertificatesResult" nillable="true" type="q33:OperationResultOfArrayOfCertificateInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmployeeHasCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmployeeHasCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="CheckEmployeeHasCertificatesResult" nillable="true" type="q35:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q36:guid" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q37:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q38:guid" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="requester" type="q39:OriginalRequester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="CheckPasswordResult" nillable="true" type="q40:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q41:guid" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetUserLoginResult" nillable="true" type="q43:OperationResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q44:guid" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="BindUserResult" nillable="true" type="q45:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q46:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetAllOrganizationsResult" nillable="true" type="q47:OperationResultOfArrayOfOrganizationYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActiveOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q48:guid" />
        <xs:element minOccurs="0" name="docflowMemberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActiveOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SetActiveOrganizationResult" nillable="true" type="q49:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q50:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetMyOrganizationResult" nillable="true" type="q51:OperationResultOfMyOrganizationYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMyOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q52:guid" />
        <xs:element minOccurs="0" name="signedAlterOrganizationRequest" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMyOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SaveMyOrganizationResult" nillable="true" type="q53:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlterOrganizationRequestPrintForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q54:guid" />
        <xs:element minOccurs="0" name="signedAlterOrganizationRequestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlterOrganizationRequestPrintFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetAlterOrganizationRequestPrintFormResult" nillable="true" type="q55:OperationResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlterOrganizationRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q56:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlterOrganizationRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetAlterOrganizationRequestsResult" nillable="true" type="q57:OperationResultOfArrayOfSignedAlterOrganizationRequestYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganiztionCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q58:guid" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="organizationId" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganiztionCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetOrganiztionCertificatesResult" nillable="true" type="q60:OperationResultOfArrayOfCertificateInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q61:guid" />
        <xs:element minOccurs="0" name="docflowMemberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetOrganizationResult" nillable="true" type="q62:OperationResultOfOrganizationYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrganizationsToAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q63:guid" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="filter" nillable="true" type="q64:Organization.Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrganizationsToAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="FindOrganizationsToAddResult" nillable="true" type="q65:PagedOperationResultOfArrayOfOrganizationYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAlterOrganizationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q66:guid" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="newDetails" nillable="true" type="q67:MyOrganization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAlterOrganizationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GenerateAlterOrganizationRequestResult" nillable="true" type="q68:OperationResultOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlterOrganizationRequestPreviewPrintForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q69:guid" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="newDetails" nillable="true" type="q70:MyOrganization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlterOrganizationRequestPreviewPrintFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetAlterOrganizationRequestPreviewPrintFormResult" nillable="true" type="q71:OperationResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q72:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetOrganizationEmployeesResult" nillable="true" type="q73:OperationResultOfArrayOfEmployeeYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q74:guid" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="employeeId" type="q75:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetOrganizationEmployeeResult" nillable="true" type="q76:OperationResultOfEmployeeYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganizationEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q77:guid" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="employee" nillable="true" type="q78:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganizationEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SaveOrganizationEmployeeResult" nillable="true" type="q79:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q80:guid" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="employeeId" type="q81:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="DeleteOrganizationEmployeeResult" nillable="true" type="q82:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrganizationEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q83:guid" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="employee" nillable="true" type="q84:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrganizationEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="CreateOrganizationEmployeeResult" nillable="true" type="q85:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q86:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetOrganizationDepartmentsResult" nillable="true" type="q87:OperationResultOfArrayOfDepartmentYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q88:guid" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q89:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetOrganizationDepartmentResult" nillable="true" type="q90:OperationResultOfDepartmentYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganizationDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q91:guid" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="department" nillable="true" type="q92:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganizationDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SaveOrganizationDepartmentResult" nillable="true" type="q93:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrganizationDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q94:guid" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="department" nillable="true" type="q95:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrganizationDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="CreateOrganizationDepartmentResult" nillable="true" type="q96:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q97:guid" />
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q98:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="DeleteOrganizationDepartmentResult" nillable="true" type="q99:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q100:guid" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="documents" nillable="true" type="q101:ArrayOfDocumentForSend" />
        <xs:element minOccurs="0" name="receiverId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SendDocumentsResult" nillable="true" type="q102:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDraftGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q103:guid" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="documents" nillable="true" type="q104:ArrayOfDocumentForSend" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="draftGroupId" nillable="true" type="q105:guid" />
        <xs:element minOccurs="0" name="receiverId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDraftGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SaveDraftGroupResult" nillable="true" type="q106:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDraftGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q107:guid" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="draftGroupId" type="q108:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDraftGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="DeleteDraftGroupResult" nillable="true" type="q109:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDraftGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q110:guid" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="draftGroupId" type="q111:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDraftGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SendDraftGroupResult" nillable="true" type="q112:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDarft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q113:guid" />
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="draftId" type="q114:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDarftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetDarftResult" nillable="true" type="q115:OperationResultOfDraftYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDarftsGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q116:guid" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="draftGroupId" type="q117:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDarftsGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetDarftsGroupResult" nillable="true" type="q118:OperationResultOfDraftsGroupYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q119:guid" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="filter" nillable="true" type="q120:Document.Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetDocumentsGroupsResult" nillable="true" type="q121:PagedOperationResultOfArrayOfDocumentsGroupYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftsGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q122:guid" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="filter" nillable="true" type="q123:Draft.Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftsGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetDraftsGroupsResult" nillable="true" type="q124:PagedOperationResultOfArrayOfDraftsGroupYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q125:guid" />
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q126:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetDocumentResult" nillable="true" type="q127:OperationResultOfDocumentYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q128:guid" />
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q129:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q130:OperationResultOfArrayOfTransactionYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReceptionNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q131:guid" />
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q132:guid" />
        <xs:element minOccurs="0" name="transactionType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReceptionNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GenerateReceptionNoticeResult" nillable="true" type="q133:OperationResultOfResponseForSendYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q134:guid" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="response" nillable="true" type="q135:ResponseForSend" />
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q136:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="SendResponseResult" nillable="true" type="q137:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllowNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q138:guid" />
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q139:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllowNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetAllowNoticeResult" nillable="true" type="q140:OperationResultOfArrayOfintuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q141:guid" />
        <xs:element minOccurs="0" name="transactionCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetTransactionNameResult" nillable="true" type="q142:OperationResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCorrectionNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q143:guid" />
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q144:guid" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCorrectionNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GenerateCorrectionNoticeResult" nillable="true" type="q145:OperationResultOfResponseForSendYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAcceptanceNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q146:guid" />
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q147:guid" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="procurationInfo" nillable="true" type="q148:ProcurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAcceptanceNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GenerateAcceptanceNoticeResult" nillable="true" type="q149:OperationResultOfResponseForSendYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanCreateReceiveResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q150:guid" />
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q151:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanCreateReceiveResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="CanCreateReceiveResultResult" nillable="true" type="q152:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q153:guid" />
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fileId" type="q154:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetContentResult" nillable="true" type="q155:OperationResultOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q156:guid" />
        <xs:element xmlns:q157="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q157:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetPrimaryFileResult" nillable="true" type="q158:OperationResultOfTransactionFileYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q159:guid" />
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q160:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetRejectReasonResult" nillable="true" type="q161:OperationResultOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareForSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q162:guid" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="receiverId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="docflowType" type="q163:DocflowDictionary.DocflowType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareForSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="PrepareForSendResult" nillable="true" type="q164:OperationResultOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsIdForResponce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q165:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsIdForResponceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetDocumentsIdForResponceResult" nillable="true" type="q166:OperationResultOfArrayOfguiduHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChangesInDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q167:guid" />
        <xs:element minOccurs="0" name="lastUpdateDateTime" type="xs:dateTime" />
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="filter" nillable="true" type="q168:Document.Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChangesInDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="CheckChangesInDocumentsResult" nillable="true" type="q169:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryFileListForInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q170:guid" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryFileListForInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetPrimaryFileListForInvoiceResult" nillable="true" type="q171:OperationResultOfArrayOfDocumentYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryDocumentInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q172:guid" />
        <xs:element xmlns:q173="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q173:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryDocumentInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetPrimaryDocumentInfoListResult" nillable="true" type="q174:OperationResultOfArrayOfInvoiceInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCorrectionInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q175:guid" />
        <xs:element xmlns:q176="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q176:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCorrectionInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetCorrectionInfoListResult" nillable="true" type="q177:OperationResultOfArrayOfInvoiceInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevisionInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q178:guid" />
        <xs:element xmlns:q179="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q179:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevisionInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetRevisionInfoListResult" nillable="true" type="q180:OperationResultOfArrayOfInvoiceInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q181:guid" />
        <xs:element xmlns:q182="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q182:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetInvoiceInfoResult" nillable="true" type="q183:OperationResultOfInvoiceInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceInfoByContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q184:guid" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceInfoByContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetInvoiceInfoByContentResult" nillable="true" type="q185:OperationResultOfInvoiceInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocflowMemberIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q186:guid" />
        <xs:element xmlns:q187="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q187:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocflowMemberIdRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetDocflowMemberIdRequestResult" nillable="true" type="q188:OperationResultOfDocflowMemberIdRequestYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDocumentDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q189:guid" />
        <xs:element xmlns:q190="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q190:guid" />
        <xs:element xmlns:q191="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" nillable="true" type="q191:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDocumentDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="ChangeDocumentDepartmentResult" nillable="true" type="q192:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q193:guid" />
        <xs:element xmlns:q194="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q194:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="DeleteDocumentResult" nillable="true" type="q195:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q196:guid" />
        <xs:element xmlns:q197="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q197:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="RestoreDocumentResult" nillable="true" type="q198:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignatureCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q199:guid" />
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API.Domain" minOccurs="0" name="signature" nillable="true" type="q200:TransactionSignature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignatureCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetSignatureCertificateResult" nillable="true" type="q201:OperationResultOfX509Certificate2QsfCyaWY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q202:guid" />
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetCertificateInfoResult" nillable="true" type="q203:OperationResultOfCertificateInfoYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q204:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetRegionListResult" nillable="true" type="q205:OperationResultOfArrayOfRegionYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q206:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetCountryListResult" nillable="true" type="q207:OperationResultOfArrayOfCountryYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q208:guid" />
        <xs:element minOccurs="0" name="code2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetCountryResult" nillable="true" type="q209:OperationResultOfCountryYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q210:guid" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetRegionResult" nillable="true" type="q211:OperationResultOfRegionYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailChangeToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q212:guid" />
        <xs:element minOccurs="0" name="newEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailChangeTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetEmailChangeTokenResult" nillable="true" type="q213:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secret" type="q214:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="ChangeEmailResult" nillable="true" type="q215:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailWithPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="secret" type="q216:guid" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailWithPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q217="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="ChangeEmailWithPasswordResult" nillable="true" type="q217:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecoveryPasswordToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecoveryPasswordTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q218="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetRecoveryPasswordTokenResult" nillable="true" type="q218:OperationResultOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q219="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q219:guid" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q220="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="ChangeUserPasswordResult" nillable="true" type="q220:OperationResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeUserPasswordConfirmationState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q221="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q221:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeUserPasswordConfirmationStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q222="http://schemas.datacontract.org/2004/07/Taxnet.Transcrypt.API" minOccurs="0" name="GetChangeUserPasswordConfirmationStateResult" nillable="true" type="q222:OperationResultOfConfirmStateYNsim8dq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocflowMemberId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kpp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requesterCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocflowMemberIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocflowMemberIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>